.control-label.required:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-right: 5px;
  top:7px;
}
.error-msg {
  color: #a94442;
  font-size: 20px;
}
.fix-error-icon {
  top: 27px;
}
