<div class="form container-fluid">
  <h3>Edit Current Marker?</h3>
  <form class="markerform" [formGroup]="markerForm">
    <div class="form-group" [ngClass]="displayFieldCss('type')">
      <label class="right-block col">Type:</label>
      <input id="type" class="form-control col" formControlName="type" required>
      <app-field-error-display [displayError]="isFieldValid('type')" errorMsg="Please inform place type">
      </app-field-error-display>
    </div>
    <div class="form-group" [ngClass]="displayFieldCss('name')">
      <label class="right-block col">Name:</label>
      <input class="form-control col" formControlName="name" required>
      <app-field-error-display [displayError]="isFieldValid('name')" errorMsg="Please write its name">
      </app-field-error-display>
    </div>
    <div class="form-group">
      <label class="right-block col">Description:</label>
      <input class="form-control col" formControlName="description">

    </div>

    <div class="form-group">
      <label class="right-block col">Contact: </label>
      <input class="form-control col" formControlName="contact">

    </div>
    <div class="form-group">
      <label class="right-block col">Web:</label>
      <input class="form-control col" formControlName="web">

    </div>
    <div class="form-group" [ngClass]="displayFieldCss('address')">
      <label class="right-block col">Address: </label>
      <input class="form-control col" formControlName="address" required>
      <app-field-error-display [displayError]="isFieldValid('address')" errorMsg="Please write its name">
      </app-field-error-display>
    </div>
    <div class="form-group" [style.visibility]="'hidden'" formGroupName="location">
      <label class="right-block col">coordinates:</label>
      <input class="form-control col" visibility="hidden" [(ngModel)]="editmarkercoord" showModel formControlName="coordinates">

    </div>
    <div class="form-group">

      <button type="submit" id="submitbtn"  (click)="editform()" class="btn btn-success" [disabled]="!markerForm.valid">Submit</button>
      <input type="button" id="cancelbtn" (click)="cancel()" class="btn btn-danger pull-right" value="Cancel">

    </div>
  </form>
</div>
