<div id="menu" class="justify-content-between navbar navbar-expand-md navbar-expand-sm navbar-expand-lg navbar-dark fixed-top bg-inverse col-11 float-left">
  <a class="navbar-brand text-info">Mapa Cultural de Madrid</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item active">
        <a class="nav-link text-info" routerLink="home">Home</a>
      </li>
      <li [hidden]='' class="nav-item">
        <a class="nav-link text-info" routerLink="about">About</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse ">
    <ul class="navbar-nav ml-auto mx-auto float-right" routerLinkActive="active">
      <li class="nav-item dropdown hidden-md-down">
        <a id="navbarDropdownMenuLink" class=" text-info  nav-link" data-toggle="dropdown"
          (click)="loginpopup()"  aria-haspopup="true" aria-expanded="false">{{txtBtnLog}}</a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
          <form #login="ngForm" (ngSubmit)="onSubmit(login)" class="dropdown-item" novalidate>
            <label for="usr">User</label>
            <input class="form-control" type="text" name="usr" [(ngModel)]="usuario" placeholder='username' required>
            <label for="pwd ">Password</label>
            <input class="form-control" type="password" name="pwd" [(ngModel)]="password" placeholder='password' required>
            <br>
            <button class="btn btn-secondary pull-right">Submit</button>
          </form>
        </div>
      </li>
      <li class="nav-item dropdown hidden-md-down ">
        <a id="navbarDropdownSignin" class=" text-info float-right nav-link " data-toggle="dropdown"
          (click)="signinpopup()" aria-haspopup="true" aria-expanded="false">Sign up</a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownSignin">
          <form  class="dropdown-item" [formGroup]="signinForm" (ngSubmit)="onSignin()" class=" container-fluid pull-right" novalidate>
            <div class="form-group ">
              <label for="usr ">User
                <input type="text " name="usr" class="form-control col" formControlName="User" [(ngModel)]="usuario" placeholder='username'
                  minlength="2" required>
                <div [hidden]="signinForm.get( 'User').valid || signinForm.get( 'User').pristine" class="text-danger">
                  minimum is 2 letters
                </div>
              </label>
            </div>
            <div class="form-group">
              <label for="mail ">E-mail
                <input type="email " name="mail" class="form-control col" formControlName="Email" [(ngModel)]="mail " placeholder='a valid email'
                  required email>
                <div [hidden]="signinForm.get( 'Email').valid || signinForm.get( 'Email').pristine" class="text-danger">
                  Valid Mail is required
                </div>
              </label>
            </div>

            <div class="pull-right form-group" formGroupName="Pass">
              <label for="pwd">Password
                <input type="password " class="form-control col " formControlName="password" name="pwd " [(ngModel)]="password " placeholder='password'
                  required>
              </label>

              <label for="pwd ">Confirm Password
                <input type="password " class="form-control col" name="pwd" [(ngModel)]="passwordConfirmation" formControlName="passwordConfirm"
                  placeholder='password' validateEqual="password" reverse="true" required>
                <div *ngIf="!signinForm.get( 'Pass').valid && signinForm.get( 'Pass').touched" class="text-danger">
                  Password mismatch!
                </div>
              </label>
            </div>
            <button [disabled]="!signinForm.valid" class="pull-right btn btn-success ">Submit</button>
          </form>
        </div>
      </li>
    </ul>
  </div>

</div>
