<div class="row" (dblclick)="creatediv($event)">
  <app-menu [initiated]></app-menu>
  <app-addmarkerform *ngIf="addform" (formvalue)="addmakerformvalue($event)" (addformvisible)="formend($event)" (close)="changepopup()" ></app-addmarkerform>
  <app-editmarkerform *ngIf="eform" (editformvisible)="editform()" (editclose)="editpopup()" [editmarkercoord]="editmarkercoord"></app-editmarkerform>
  <div class="map" dnd-droppable (onDropSuccess)="transferDataSuccess($event)"  leaflet (leafletMapReady)="onMapReady($event)"  [leafletOptions]="options" [leafletLayersControl]="layersControl">
  </div>
  <button *ngIf="!initiated" (click)="init()" id="init" class="btn btn-round-lg center-block  ">PUT SOME COLOR INTO YOUR CITY</button>
  <!-- <div id="submaps" *ngFor="let submap of submaps">
  <div class="submap" style="height:100px; width:100px; "[style.top]="x" [style.left]="y" class="submap" leaflet (leafletMapReady)="submapready($event, submap.latlng)" [leafletOptions]="suboptions" >
  </div> -->
  <!-- <router-outlet></router-outlet>
  <router-outlet name="sidemenu"></router-outlet> -->
  <div *ngIf="initiated" [hidden]="clicked" (click)="clicked = true" class="" id="intro">
   Double click to start adding markers wherever you know interesting places
    </div>

  <div *ngIf="initiated" class="navbar-fixed-bottom" id="attribution">

  Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>
</div>
</div>
