  <div class="container-fluid" >
  <div class="markerform float-right col-11 ">

    <h3>Add New Marker?</h3>
    <form class=""  [formGroup]="markerForm" (keyup)="this.formvalue.emit(this.markerForm.value)" (ngSubmit)="onSubmit()">
      <!-- <div class="form-group" [ngClass]="displayFieldCss('type')">
      <label class="right-block col">Type:</label>
      <input id="type" class="form-control col" formControlName="type" required>
      <app-field-error-display [displayError]="isFieldValid('type')" errorMsg="Please inform place type">
      </app-field-error-display>
    </div> -->

      <div class="form-group " >
        <label class="  ">Drag an icon to the map:</label>
        <div class="d-flex flex-wrap">
          <div *ngFor="let icon of icons; let i = index" dnd-draggable (onDragSuccess)="dragging($event)" [dragEnabled]="true" [dragData]="icon"
            class="icons">
            <img width="32" height="32" src="{{icon}}" alt="icon{{i}}">
          </div>
        </div>
      </div>
      <div class="form-group" [ngClass]="displayFieldCss('name')">
        <label class="right-block col ">Name:</label>
        <input class="form-control  form-control-sm" formControlName="name" required>
        <app-field-error-display [displayError]="isFieldValid('name')" errorMsg="Please write its name">
        </app-field-error-display>
      </div>
      <div class="form-group">
        <label class="right-block col">Description:</label>
        <input class="form-control form-control-sm" formControlName="description">

      </div>

      <div class="form-group">
        <label class="right-block col">Contact: </label>
        <input class="form-control form-control-sm" formControlName="contact">

      </div>
      <div class="form-group">
        <label class="right-block col">Web:</label>
        <input class="form-control form-control-sm" formControlName="web">

      </div>
      <div class="form-group" [ngClass]="displayFieldCss('address')">
        <label class="right-block col">Address: </label>
        <input class="form-control form-control-sm" formControlName="address" required>
        <app-field-error-display [displayError]="isFieldValid('address')" errorMsg="Please write its name">
        </app-field-error-display>
      </div>
      <div class="form-group col">
        <input type="button" id="cancelbtn" (click)="cancel()" class="btn btn-danger float-right" value="Cancel">
        <button type="submit" id="submitbtn" (click)="onSubmit()" class="btn btn-success " [disabled]="!markerForm.valid">Submit</button>

      </div>
    </form>
  </div>
</div>
