/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100vh;
  margin:0;
  padding:0;
  overflow: auto;
}
.leaflet-control-zoom{
  display: none!important;

}
.leaflet-control-attribution{
  display: none!important;
}
.map[_ngcontent-c0]{
  position: absolute!important;
  width: 100%!important;
  height: 100%!important;
  top: 0!important;
  left: 0!important;

}

.icons{
  z-index: 999999999999999;
}

#intro{
  background: #FFF;
  line-height: 30px;
  opacity: .9;
  visibility: visible;
  box-shadow: 0 0 4px 0 #AAAAAA;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 320px;
  padding: 40px;
  text-align: center;
  position: absolute;
  top: 150px;
  left: 175px;
  z-index: 99999999999;
}
#init{
  position: absolute;
  top: 45%;
  left: 40%;
  border-radius: 25px;
  color: white;
  background-color: rgba(30, 101, 255, 0.3);
  z-index: 99999999999;
}
app-addmarkerform{
  z-index: 10000000000;
  position: absolute;
  right: 5%;
  top: 10%;
  height: 80%!important;
  max-height: 80%!important;
  min-height: 80%!important;
  min-width: 20%;
}

.markerform{
  background-color: rgba(80, 79, 79, 0.692);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}
app-editmarkerform{
  z-index: 10000000000;
  position: absolute;
  right: 5%;
  top: 10%;
  min-width: 20%;
}



@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/print";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/input-group";
@import "../node_modules/bootstrap/scss/custom-forms";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/jumbotron";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/media";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/utilities";
